.header__logo {
    max-width: 142px;
    object-fit: contain;
    object-position: left;
    max-height: 100%;
    padding-bottom: 41px;
    box-sizing: contain-box;
    transition: all .5s ease;
}

@media screen and (max-width: 933px) {
    .header__logo {
        padding: 0 27px 41px;
    }   
}

@media screen and (max-width: 425px) {
    .header__logo {
        max-width: 104px;
        padding: 0 27px 32px;
    }   
}